/* AirInsight scene 1 */
.air_scene_one {
  background-color: white;
  color: #333333;
}

.air_scene_one h2 {
  padding-top: 7%;
  margin: 0% 0% 2% 3%;
}

/* AirInsight scene 2 */
.air_scene_two {
  background-color: #fbfbfb;
  color: #333333;
}

.air_scene_two h2 {
  padding-top: 2%;
}

/* AirInsight scene 3 */
.air_scene_three {
  background-color: white;
  color: #333333;
}

.air_scene_three h2 {
  padding: 2%;
}
.air_third .card-body {
  margin: 4% 11% 1% 7%;
}

.air_third .card-title {
  margin: 2% 0% 6% 0%;
}

.air_third .card-test {
  text-align: left;
}

.air_third .card {
  box-shadow: 1px 1px 5px 4px #ccc;
}

.row {
  padding-top: 3%;
}

.air_button_row {
  margin: 0 auto;
  padding: 5%;
}

.air_button_scene_one {
  background: #79a8a9;
  border: none;
  font: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.air_third button{
    background: #79a8a9;
    color: white;
}

.nav-tabs {
  text-align: center;
  position: relative;
  border-radius: 0rem;
  font-weight: bold;
  margin: 2% 0 0% 0;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #ffffff;
  border-color: #79a8a9 #dee2e6 #f4f7f7;
  border-top-width: 0.25rem;
  border-radius: 0rem;
  /* width: max-content; */
}

.air_third .card-text{
    margin: 1% 0 8% 0;
    color:grey;
}

.nav-tabs .nav-link {
  color: #568a9d;
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 0rem;
}

.nav-tab-year {
  margin: 0 1% 0 0;
}

.card {
  /* margin: 1.5% 0%; */
  border-radius: 0rem;
  border-color: transparent;
  background-color: transparent;
}

.row {
  padding-top: 0%;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}
